<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--###################### THIS SECTION IS FOR BASIC CONFIGURATIONS FOR RUNNING TESTS ############################-->
    <add key="EnvrionmentURL" value="http://www.bing.com" />
    <add key="ExcelFilePath" value="D:\D Drive Data\Projects\LAUSD\Automation\MasterTestPlan.xlsx" />
    <add key="MasterPlanSheet" value="Sheet1" />
    <add key="TestCaseSheet" value="Sheet1" />
    <add key="TestingTool" value="selenium" />
    <add key="ChromeDriverPath" value="C:\Users\raju\Downloads\SEDrivers" />
    <add key="Browser" value="android" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NumberOfGridDataForValidating" value="5" />
    <add key="TestCaseFolderFullPath" value="C:\Users\raju\Source\Repos\ServicesTest\AutomationSuite\AutomationSuite" />
    <add key="BuildDirectoryPath" value="C:\Users\raju\Source\Repos\ServicesTest\AutomationSuite\AutomationSuite" />
    <add key="TestCaseFolderName" value="\TestCases" />
    <add key="DBQueryFolderName" value="\Queries" />
    <add key="ObjectPropertySeparator" value="|" />
    <add key="ObjectPropertyValueSeparator" value=":" />
    <add key="CaptureScreenshotonstepFailure" value="true" />
    <add key="Cut-OffDate" value="9/1/" />
    <add key="ClickItemSeperator" value="~" />
    <!--#########################################################################################################-->

    <!--###################### SECTION IS FOR TESTING UWP AND MOBILE APPS ####################################-->
    <add key="Appium-UWPServiceURL" value="http://127.0.0.1:4723" />
    <add key="Appium-MobileDeviceServiceURL" value="http://127.0.0.1:4722/wd/hub" />
    <add key="AndroidAppPackage" value="com.sec.android.app.popupcalculator" />
    <add key="AndroidAppActivity" value="com.sec.android.app.popupcalculator.Calculator" />
    <add key="IsWebTest" value="false" />
    <add key="IOSAppPackage" value="" />
    <add key="DeviceList" value="donatello" />
    <add key="AndroidVersion" value="6.0.0" />
    <add key="IOSVersion" value="9.0.0" />
    <add key="UWPAppNameorPath" value="Microsoft.WindowsCalculator_8wekyb3d8bbwe" />
    <!--#########################################################################################################-->

    <!--################################## AZURE RELATED CONFIGURATION ############################################-->
    <add key="SearchServiceName" value="bieno-d-56839-unilevercom-search" />
    <add key="SearchServiceQueryApiKey" value="APIKEY" />
    <add key="secretusername" value="test@test.com" />
    <add key="secretpassword" value="" />
    <add key="maximumresultsreturnedbyazuresearch" value="1000" />
    <!--#########################################################################################################-->

    <!--################################# API TESTS RELATED CONFIGURATIONS ########################################-->
    <add key="apiendpoint" value="https://reqres.in" />
    <add key="apiauthurl" value="https://login.microsoftonline.com/uniqueidorcode" />
    <add key="getapiclientsecret" value="clientsecret" />
    <add key="getapiclientid" value="clientid" />

    <!--################################# TFS RELATED CONFIGURATIONS ##############################################-->
    <add key="TFSService" value="http://tfsserver/project" />
    <add key="TFSProject" value="ZEUS" />
    <add key="ADDomain" value="lausd" />
    <!--#########################################################################################################-->

    <!--################################# DATABASE CONFIGURATIONS #################################################-->
    <add key="ConnectionString" value="Initial Catalog=SampleDB;Data Source=MININT-RAJU\SQLEXPRESS;Integrated Security=SSPI;" />
    <!--#########################################################################################################-->

    <!--################################# KEYVAULT CONFIGURATIONS #################################################-->
    <add key="ClientId" value="clientid" />
    <add key="ClientSecret" value="customersqlconnectionstring" />
    <add key="VaultUri" value="https://gts-eus-keyvault-dev.vault.azure.net/secrets/" />
    <add key="KeyvaultThumbprint" value="thumprint" />
    <add key="KeyvaultAppID" value="appid" />
    <add key="certName" value="gtseuskeyvaultdev.pfx" />
    <!-- certificate should be stored under the project folder-->
    <add key="certPwd" value="passwordforcertificate" />
    <!--#########################################################################################################-->

    <!--################################# RESOURCE FILE PATH FOR TEST OBJECTS #################################################-->
    <add key="FullExternalResxFilePath" value="" />
    <!--#######################################################################################################################-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.CodedUITestFramework" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.1.30601" newVersion="3.17.1.30601" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
